.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.html
/SMBKC/data
/SMBKC/smbkc_19/data
/SMBKC/smbkc_18a/model_4/figure
/SMBKC/smbkc_18a
/SMBKC/smbkc_19/model_1a/figure
/SMBKC/smbkc_19/model_1a/compare
*.docx
*.pdf
/SMBKC/smbkc_19/model_1c
/SMBKC/smbkc_19/model_1d
/SMBKC/smbkc_19/model_1e
/SMBKC/smbkc_19/model_1f
/SMBKC/smbkc_19/model_1g
/SMBKC/smbkc_19/model_1h
/SMBKC/smbkc_19/model_1i
/SMBKC/smbkc_19/model_1j
/SMBKC/smbkc_19/model_1k
/SMBKC/smbkc_19/model_6
/SMBKC/smbkc_19/temp
/SMBKC/smbkc_19/doc/deprecated
/SMBKC/smbkc_19a/depricated_models


/PIGKC/data_katie
/PIGKC/gmacs
## borrowed from GMACS gitignore
*~
*.swp
*.swo

# API files
html/
docs/api/html/

# Latex files
*.aux
*.fdb_latexmk
*.fls
#*.out
*.nav
*.toc
*.snm
*.vrb
*.tex.bak
*.bak
auto/

# R files
rsconnect/
.Rproj.user
*.Rproj
*.Rout
*.R~
.RData
.Rhistory
*.Rmd.bak
Rplots.pdf

# ADMB build files
GMACS/src/lib/*.obj
GMACS/src/lib/*
GMACS/src/build/*
GMACS/src/include/*
GMACS/src/gmacs.cpp
GMACS/src/gmacs.exe
GMACS/src/gmacs.htp
GMACS/src/gmacs.obj
GMACS/src/moltIncrement.cpp
*.cpp
*.obj
*.exe

# ADMB standard output files
*.b0*
*.bar
*.cor
*.cov
*.dep
*.ecm
*.eva
gradient.*
*.hes
*.log
*.mc2
*.mcm
*.p0*
*.psv
*.hst
*.r0*
*.std
*.tmp
*_in.ctl
*_in.dat
variance
sims


